.Home03 {
    background-color: #f4f4f4;
    font-family: Prompt;
}

.Home03-container {
    padding-top: calc(100vw * 0.03);
    padding-bottom: calc(100vw * 0.03);
}

.Home03-container-text01 {
    text-transform: capitalize;
    letter-spacing: 0;
    text-align: center;
    font-size: 48px;
    line-height: 62px;
    font-weight: 600;
}

.Home03-container-text02 {
    text-align: center;
    font-size: 16px;
}
