.Home07 {
    font-family: Prompt;
    font-size: 16px;
    background-color: #f4f4f4;
    /* padding-bottom: calc(100vw * 0.03); */
}

.Home07-text01 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.Home07-text01 > a {
    display: block;
    text-decoration: none;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}