.Home05 {
    display: flex;
    justify-content: center;
    font-family: Prompt;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding-top: calc(100vw * 0.03);
    padding-bottom: calc(100vw * 0.03);
}

.Home05-container {
    width: 100%;
    max-width: 1245px;
}

.Home05-item01 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home5-row {
    padding: 0 12px;
}

.Home05-card01 {
    width: 50%;
}

.Home05-card02 {
    width: 50%;
}

.H01-a {
    text-decoration: none;
    color: #ffc40b;
}

.H01-a:hover {
    color: #000000;
}

button {
    font-family: Prompt;
    background-color: white;
}

button:hover {
    color: #ffffff;
    background-color: #ffc40b;
    border-color: #ffc40b;
    transform: translateY(-5px);
    transition: all 0.25s ease;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

@media screen and (max-width: 1000px) {
    .Home05-item01 {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .Home05-card01 {
        width: 100%;
        height: 100%;
        padding: 0 90px;
        margin-bottom: 25px;
    }

    .Home05-card02 {
        width: 100%;
        padding: 0 90px;
    }
    
}