.Home08 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Prompt;
    padding-top: calc(100vw * 0.03);
    /* padding-bottom: calc(100vw * 0.03); */
}

.Home08-content {
    width: 100%;
    max-width: 1245px;
}

.Home08-content01 {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.Home08-content02 {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.Home08-content01-item01 {
    width: 50%;
    padding: 0 1%;
}

.Home08-text02 {
    display: flex;
    justify-content: end;
    align-items: center;
}

.Home08-button01 > a {
    position: relative; 
    visibility: visible; 
    text-decoration: none;
    font-size: 14px;
    padding: 13px 42px;
    margin-bottom: 10px;
    color: rgb(51, 51, 51);
    border-color: rgba(51, 51, 51, 0.75);
    border: 2px solid;
    border-width: 2px;
    border-radius: 5px;
}

.Home08-card-item01 {
    margin-bottom: 40px;
}

@media screen and (min-width: 690px) {
    .Home08-card-item01 {
        /* width: 32%; */
        margin-right: 2%;
    }
}

@media screen and (max-width: 1000px) {
    .Home08-content02 {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
}




