
.footer01 {
    width: 100%;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    /* background-color: #515151; */
}

.footer01-outer {
    width: 100%;
    display: flex;
    max-width: 1425px;
    justify-content: center;
    height: 540px;
    overflow: scroll;

}

.footer01-outer01 {
    font-size: 3em;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0 90px;
}

.footer01-outer02 {
    width: 100%;
    padding: 55px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer01-item {
    padding: 15px;
    margin-right: 2%;
    margin-bottom: 40px;
}

.footer02-outer {
    width: 100%;
    height: 90px;
    padding: 20px 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
}

.footer05-item01 {
    display: inline-block;
    word-spacing: 1px;
    position: relative;
    text-align: center;
    top: -2px;
    vertical-align: middle;
    max-width: 100%;  
}

.footer03-outer {
    width: 100%;
    max-width: 1425px;
    padding: 0 90px;
    display: flex;
    justify-content: space-around;
}

.footername {
    font-size: 16px;
    font-family: Prompt;
    width: auto;
}

.footer01-text {
    margin-top: 3px;
    font-size: 12px;
}

.footer02-icon01 {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

