.navbar01 {
    width: 100%;
    height: 90px;
    font-family: Prompt;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    /* background-color: red; */
}

.navbar01-container {
    width: 85%;
    padding: 0 90px;
    max-width: 1425px;
    display: flex;
    /* background-color: yellow; */
}

.navbar01-logo {
    width: 180px;
    height: 100%; 
    min-width: 180px;  
    margin-right: 2%;
    display: flex;
    align-items: center;
    /* background-color: green; */
}

.navbar02-item {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;
    text-align: left;
}

.navbar01-item{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
}

.obj-opa08 {
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.8;
}

.obj-opa08:hover {
    opacity: 1;
}

.box01-item {
    width: 100%;
    height: 32px;
    color: white;
    background-color: #ffc40b;
    border-radius: 4px;
}

.tap01:hover::after {
    width: 100%;
}

.tap01::after{
    content: "";
    position: absolute;
    border-radius: inherit;
    width: 0;
    height: 4px;
    background-color: #676767;
    left: 0;
    bottom: 0;
    transition: all 0.5s ease;
}

